.news-block a{
   display: flex; 
   margin: 5px auto;
   background: #fff;
}

.news-block img{
    width: 2rem;
    height: 1.6rem;
}

.news-block span{
    flex: 1;
    vertical-align: top;
    margin-left: 10px;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}